body {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .header {
    width: 100%; 
    height: 50px;
    display: flex;
    box-shadow: 0px 5px 20px lightgray;
  }
  
  .header-title-container {
    height:50px;
    width: 50%;
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    height:50px; 
    width:50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  #logo-img {
    height: 26px; 
    width: 45px;
  }
  
  .unicity-title {
    font-family: "Avenir Next";
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 5px;
  }
  
  .header-account-container {
    height:50px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .account-info {
    height:max-content;
    margin-right: 10px;
  }
  
  #account-name {
    font-weight: 700;
    color: #C89F3C;
    font-size: 14px;
  }
  
  #account-status {
    font-size: 10px;
    font-weight: 300;
    float: right;
    margin-top: -3px;
  }
  
  .photo-container {
    height: 50px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .circle-container {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
    background-image: url('../assets/defaultpic.png');
    background-size: cover;
  }
  .circle-container:hover {
    background-image: url('../assets/defaulthover.png');
    transition: 0.5s;
  }
  
  #profile-pic {
    width: 35px;
    height: 35px;
  }
  